/*
======= BASE ELEMENTS =======
*/

/* body */

body {
    background-color: #666;
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 1.8rem;
    }
}

/*nav*/

nav {
    background: #82199C;
    height: fit-content;
    margin-bottom: 3%;
}

@media screen and (max-width: 1080px) {
    nav {
        min-height: 3rem;
    }
    nav ul {
        justify-content: space-between;
    }
}


nav ul {
    display: flex;
    padding:0;
    margin:0;
    list-style-type:none;
}

nav ul li a:hover {
    background-color:#d45c5c;
    border-color:black #25a8a8 #99e0e0 #e8fafa;
}

nav ul li a {
    display: block;
    background-color:#231880;
    color: white;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:black #0030ce;
}


nav ul li {
    padding-left: 1%;
}

.nav-link {
    cursor: pointer;
}

/*main*/

main {
    margin-bottom: 4rem;
    margin-left: 2%;
}

@media screen and (max-width: 1080px) {
    main {
        margin-top: 5rem;
    }
}

/*footer*/

footer {
    background: #681063;
    height: 3.5rem;
    position:fixed;
    bottom:0;
    width: 100%;
}
@media screen and (max-width: 1080px) {
    footer h4 {
        margin-top: 0.2rem;
        padding-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

body, footer {
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
}

/*
========== POPUP ==========
*/

.popupHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*
======= LOGIN POPUP =======
*/

.popupBackgroundOverlay {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0003;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

#baseLoginPopup {
    display: inline-flex;
    background-color: #000;
    height: 50%;
    width: 30%;
    min-height: 12rem;
    vertical-align: middle;
    position: relative;
    border-radius: 0.4rem;
    border: #999 solid 0.1rem;
    padding: 0.5rem;
    flex-flow: column;
}

@media screen and (max-width: 1080px) {
    #baseLoginPopup {
        height: 60%;
        width: 80%;
    }
}

.popupTop {
    display: flex;
    flex-basis: 10%;
    flex-direction: row-reverse;
}

.popupCloseButton {
    background: none;
    border-radius: 1rem;
    border: none;
    margin: 0.3em;
    cursor: pointer;
}

.popupCloseButton img {
    width: 2rem;
}

.popupCloseButton img:hover {
    opacity: 0.6;
}

.popupTabs {
    flex-grow: 2;
    display: flex;
    flex-flow: column;
}

.popupTabController {
    flex-basis: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popupTabBtn {
    border: gray solid 1px;
    border-radius: 0;
    background: transparent;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.popupTabBtn:hover {
    background: #fff2;
}

#popupLoginTabBtn {
    border-color: #00b600;
}

#popupSignupTabBtn {}

.popupTabBtnTxt {
    margin: auto;
}

.popupTab {
    color: white;
    flex-grow: 1;
    border: white solid 1px;
    border-top: #00b600 solid 2px;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
}

#popupLoginTab {
}

#popupSignupTab {
    display: none;
}

.popupErr {
    color: #be5150;
    font-style: italic;
}

.popupForm {}

.popupForm > p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.popupForm label {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.popupForm input {
    color: white;
    font-size: 1.1rem;
    background-color: black;
    border-radius: 0.2rem;
    border: #bbb8 solid 2px;
}

.popupForm input:focus {
    border-color: #00c600;
}

.popupForm input::placeholder {
    color: #aaa;
}

.form-col-sep {
    height: 0.8rem;
    width: 80%;
}

.popupForm input.nextPage {
    display: none;
}

.popupFormButtons {
    flex-basis: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin: 0 auto;
    width: 70%;
}

.popupFormBtn {
    font-size: 1rem;
    border-radius: 0;
    border: green solid 2px;
    background-color: black;
    color: white;
}

.popupFormBtn:hover {
    cursor: pointer;
}

.popupFormBtnValidate {}

.popupFormBtnCancel {
    border-color: crimson;
}

/*
======== PROFILE POPUP =======
*/

#profilePopupBgOverlay {
    display: none;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0003;
    height: 100%;
    width: 100%;
    text-align: center;
}

#baseProfilePopup {
    display: inline-flex;
    background-color: #333;
    height: 50%;
    width: 40%;
    min-height: 12rem;
    vertical-align: middle;
    position: relative;
    border-radius: 0.6rem;
    border: #bbb solid 0.2rem;
    padding: 0.5rem;
    flex-flow: column;
}

.profileCloseButton {
    background: none;
    border-radius: 1rem;
    border: none;
    margin: 0.3em;
    cursor: pointer;
}

.profileCloseButton img {
    width: 2rem;
}

.profileCloseButton img:hover {
    opacity: 0.6;
}

.profileTitle {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

#profileData {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profileLabel {
    color: #ddd;
    font-size: 1.2rem;
    font-style: italic;
}

.profileDataLine {
    color: #fff;
    font-size: 1.3rem;
}

.profileVoid {
    width: available;
    height: 0;
    margin: 0.5rem;
}

.pEditForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileButtons {
    display: flex;
    flex-direction: row;
}

.profileBtn {
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.7rem 1rem;
    margin: 0.4rem 1rem;
    width: fit-content;
    background-color: #222;
}

.pEditBtn {
    border-color: #005fcc;
    color: white;
}

.pLogoutBtn {
    border-color: #7e2100;
    color: #8e3110;
}

.pEditBtn:hover {
    background-color: #111;
}

.profileEditConfirm {
    background-color: #82199C;
    border-color: #681063;
}

.profileEditConfirm:hover {
    background-color: #72197C;
    border-color: #580643;
}

.profileEditCancel {
    border-color: #7e2100;
    background-color: red;
    color: #000;
}

.profileEditCancel:hover {
    border-color: #8e3110;
    background-color: #c00;
}

.profileEditDelete {
    background-color: #222;
    border-color: red;
}

.profileEditDelete:hover {
    background-color: #333;
    border-color: #d00;
}

.profileEditInput {
    color: white;
    font-size: 1.1rem;
    background-color: black;
    border-radius: 0.2rem;
    border: #bbb8 solid 2px;
    margin: 0.2rem 1rem;
    padding: 0.2rem;
}

.errMarker {
    display: none;
    color: red;
    margin: 0;
    padding: 0.3rem;
}

.editProfileError {
    border: red solid 1px;
}

@media screen and (max-width: 1080px) {
    #baseProfilePopup {
        width: 80%;
    }

    .profileCloseButton {
        border-radius: 1.5rem;
        margin: 0.5em;
    }

    .profileCloseButton img {
        width: 3.5rem;
    }

    .profileTitle {
        font-size: 2.5rem;
    }

    .profileLabel {
        font-size: 2.2rem;
    }

    .profileDataLine {
        font-size: 2.8rem;
    }

    .profileVoid {
        margin: 1.2rem;
    }

    .profileBtn {
        font-size: 2rem;
        border-radius: 0.8rem;
        border-width: 2px;
        padding: 1.2rem 2.1rem;
        margin: 1rem 2.1rem;
    }

    .profileEditInput {
        font-size: 2.3rem;
        border-radius: 0.5rem;
        border: #bbb8 solid 4px;
        margin: 0.5rem 2.2rem;
        padding: 0.5rem;
    }

    .errMarker {
        padding: 0.7rem;
    }

    .editProfileError {
        border: red solid 2px;
    }
}

.editProfileError::placeholder {
    color: red;
}
.editProfileError:-ms-input-placeholder {
    color: red;
}
.editProfileError::-ms-input-placeholder {
    color: red;
}

.separator {
    margin: 1rem;
    border: #bbb solid 2px;
    border-radius: 2px;
    width: available;
    min-width: available;
}

/*
======= SWEETALERT STYLE =======
*/

.pop_top {
    position: relative;
    z-index: 10000;
}

.pop_top_darkless {
    position: relative;
    z-index: 10000;
    background-color: #555;
}

.pop_top_darkless > .swal-text, .pop_top_darkless > .swal-title {
    color: #fff !important;
}

.pop_top_dark {
    position: relative;
    z-index: 10000;
    background-color: #333;
}

.pop_top_dark > .swal-text , .pop_top_dark > .swal-title {
    color: #fff !important;
}

.pop_top_darker {
    position: relative;
    z-index: 10000;
    background-color: #111;
}

.pop_top_darker > .swal-text, .pop_top_darker > .swal-title {
    color: #fff !important;
}
