table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid purple;
}

@media screen and (max-width: 1080px) {
    table {
        width: 80%;
    }
}

.table_haut {
    background: #B1B1B1;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
    column-width: fit-content;
    grid-row: auto;
}

td, a {
    text-align: center;
}

tr.pokemon_row td img {
    max-width: 6rem;
}

.view_more {
    margin: 1.5em;
    padding: 1em;
    background-color: #231880;
    color: #fff;
}

@media screen and (max-width: 1080px) {
    .view_more {
        font-size: 2rem;
        padding: 2rem;
    }
}


tr.pokemon_row:hover {
    background: rgba(184, 22, 22, 0.33);
}
