.err-display {
    color: red;
    background-color: black;
    width: fit-content;
    padding: 0.3em;
}

#username {
    width: 18em;
}

#password {
    width: 18em;
}

.supprimer_compte {
    background: rgb(143, 30, 30);
    height: 2em;
    border: thick double rgb(0, 0, 0);
    font-size: 1.5em;
    width: fit-content;
    padding: 0.3em;
}

.supprimer_compte:hover {
    background: rgb(163, 13, 13);
}

.supprimer_compte:active {
    background: rgb(58, 18, 18);
}