

.team_display {
    color: white;
    width: 90%;
    border: darkmagenta solid 0.3em;
    border-radius: 1em;
}

.team_display_text {
    width: 100%;
    background-color: #82199C;
    border-bottom: #5e00b7 solid 0.2em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    display: flex;
    flex-direction: row;
}

.team_display_name {
    font-size: 3rem;
    margin-top: 0;
    padding: 2rem;
    flex-grow: 5;
}

.team_display_number {
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 2;
    text-align: center;
    font-size: 2rem;
}

.team_display_actions {
    flex-grow: 1;
    height: available;
    display: flex;
    flex-direction: column;
}

.pic_btn {
    border: none;
    padding: 0;
    margin: 1rem;
    background: none;
}

.btn_img {
    width: 3rem;
    cursor: pointer;
    background: none;
}

.btn_img:hover {
    opacity: 0.7;
}

.team_display_data {}

.team_display_poke {
    width: calc(100% - 2rem);
    margin: 1rem auto;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    background-color: #82199C;
    border-radius: 1rem;
}

.pokemon_display_ball {
    width: 100%;
    background-color: #555;
    border-radius: 1rem;
}

.pokemon_display_ball div {
    margin: 2rem;
    border: #888 solid 0.3rem;
    border-radius: 1rem;
    text-align: center;
}

.pokemon_display_ball_img {
    width: 13rem;
    cursor: pointer;
}

.pokemon_display_ball_index {
    display: none;
}

.pokemon_display_img {
    margin: 1rem;
    flex-basis: 15%;
    text-align: center;
}

.pokemon_display_img img {
    width: 12rem;
    cursor: pointer;
}

.pokemon_display_text {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-basis: 10%;
    display: flex;
    flex-flow: column;
}

.pokemon_display_name {
    cursor: pointer;
}

.pokemon_display_species {
    font-style: italic;
    cursor: pointer;
}

.pokemon_display_level {
    font-size: 0.9rem;
    cursor: pointer;
}

.pokemon_rem_cross {
    width: 1.7rem;
    cursor: pointer;
}

.pokemon_display_attacks {
    flex-grow: 1;
    margin: auto 1rem;
    background-color: #8888c588;
    border-radius: 1rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 0.5rem;
}

.pokemon_display_attack_none {
    background-color: #666;
    border-radius: 0.6rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
}

.pokemon_display_attack_none div {
    text-align: center;
    display: flex;
    align-items: center;
}

.pokemon_display_attack_plus {
    width: 3rem;
    cursor: pointer;
}

.pokemon_display_attack {
    border-radius: 0.6rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.pokemon_display_attack_type {
    max-width: 10rem;
}

.pokemon_display_attack_name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.pokemon_display_attack_power {
    font-size: 0.8rem;
}

.pokemon_display_attack_accuracy {
    font-size: 0.8rem;
}

.pokemon_display_attack_pp {
    font-size: 0.8rem;
}


@media screen and (max-width: 1080px) {
    .team_display {
        width: 90%;
        align-self: center;
    }
}

/*
====== MOVES POPUP ======
*/

#movesBgOverlay {
    display: none;
    z-index: 9997;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0003;
    height: 100%;
    width: 100%;
    text-align: center;
}

#movesPopupBase {
    display: inline-block;
    background-color: #333;
    height: 60%;
    width: 60%;
    min-height: 12rem;
    vertical-align: middle;
    position: relative;
    border-radius: 0.6rem;
    border: #bbb solid 0.2rem;
    padding: 0.5rem;
    flex-flow: column;
    overflow-block: scroll;
    overflow-x: hidden;
}

#movePopupTitle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.movesCloseButton {
    background: none;
    border-radius: 1rem;
    border: none;
    margin: 0.3em;
    cursor: pointer;
}

.movesCloseButton img {
    width: 2rem;
}

.movesCloseButton img:hover {
    opacity: 0.6;
}

#movePopupTitle {
    color: #fff;
    font-size: 1.5rem;
}

#movesPopupHead {
    width: 100%;
}

#actualMove {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1080px) {
    #actualMove {
        max-width: 80%;
    }
}

#typesSelector {
    display: inline-flex;
    overflow: scroll;
    max-width: 100%;
    min-height: fit-content;
    padding: 0.3rem;
}

.selected {
    border: 0.3rem solid #f06000 !important;
}

input.type_p[type="text"][readonly]:not([disabled]) {
    margin: 0.4rem 0.3rem;
}

input.type_p[type="text"][readonly]:not([disabled]):hover {
    opacity: 1;
}

#availableMoves {
    display: flex;
    flex-flow: wrap;
    max-height: available;
    margin: 0.5rem;
}

#availableMoves > .pokemon_display_attack {
    min-width: 25%;
    flex-basis: 25%;
    flex-grow: 1;
    margin: 0.3rem;
}

@media screen and (max-width: 1080px) {
    #movesPopupBase {
        height: 70%;
        width: 85%;
        min-height: 12rem;
        border-radius: 0.6rem;
        padding: 0.5rem;
    }

    .movesCloseButton {
        border-radius: 2rem;
        margin: 0.3em;
    }

    .movesCloseButton img {
        width: 4rem;
    }

    #movePopupTitle {
        font-size: 3.3rem;
    }

    #actualMove {
        max-width: 80%;
    }

    #typesSelector {
        max-width: 100%;
        padding: 0.5rem;
    }

    .selected {
        border: 0.4rem solid #f06000 !important;
    }

    input.type_p[type="text"][readonly]:not([disabled]) {
        margin: 0.7rem 0.5rem;
        max-width: 10rem;
    }

    input.type_p[type="text"][readonly]:not([disabled]):hover {
        opacity: 1;
    }
}
