.err-display {
    color: red;
    background-color: black;
    width: fit-content;
    padding: 0.3em;
}

#username {
    width: 18em;
}

#password {
    width: 18em;
}

.supprimer_compte {
    background: rgb(143, 30, 30);
    height: 2em;
    border: thick double rgb(0, 0, 0);
    font-size: 1.5em;
    width: fit-content;
    padding: 0.3em;
}

.supprimer_compte:active {
    border: black;

}

.supprimer_compte:hover {
    background: rgb(88, 31, 31);
}

.div_supprimer {
    padding-top: 1.5em;
}



.mdp, .modifier_username, .modifier_mdp{
    border: 10px ridge #f00;
    border-radius: 1em;
    width: 35em;
    box-shadow: 8px 8px 5px #444;
}

.modifier_mdp div, .modifier_username div, .mdp div {
    padding: 0.5em;
    padding-left: 2em;
}



.modifier_username {
    background: rgb(163, 18, 18);
}

.modifier_mdp  {
    background: rgb(0, 0, 0);
    color: white;
}

.mdp {
    background: rgb(231, 227, 227);
    color: black;
}
