table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid purple;
}

@media screen and (max-width: 1080px) {
    table {
        width: 80%;
    }
}

.table_haut {
    background: #B1B1B1;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
    column-width: auto;
    grid-row: auto;
}

td {
    text-align: center;
}

tr.pokemon_row td img {
    max-width: 6rem;
}
