.teams_list {
    width: 60%;
    border: darkmagenta solid 0.3em;
    border-radius: 1em;
}

@media screen and (max-width: 1080px) {
    .teams_list {
        width: 95%;
    }
}



.teams_nav {
    width: 100%;
    height: 5em;
    background-color: #82199C;
    color: white;
    display: flex;
    flex-direction: row;
    border-bottom: #5e00b7 solid 0.2em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.teams_nav_elem {
    display: block;
    padding: 1em;
    height: 5em;
    flex-grow: 1;
}

.teams_nav_first_elem {
    flex-grow: 8;
}

.teams_nav_button {
    width: available;
    height: available;
}

.teams_nav_button button {
    padding: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: darkmagenta;
    border-color: #9B009B;
}

.teams_nav_button button:hover {
    background-color: #6B006B;
    border-color: #7B007B;
    cursor: pointer;
}


.team_display {
    border: #9B009B solid 0.2em;
    border-radius: 0.7em;
    margin: 0.5em;
}

.team_display_text {
    display: flex;
    border-bottom: #333 solid 0.1rem;
}

.team_display_id {
    flex-grow: 0;
    display: none;
}

.team_display_name {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 0.5em;
    flex-grow: 6;
    cursor: pointer;
}

.team_display_number {
    padding-top: 0.5rem;
    flex-grow: 1;
}

.team_display_data {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.team_display_img {
    width: 3em;
    margin: 1rem;
}

@media screen and (max-width: 1080px) {
    .team_display_img {
        width: 3.5em;
    }
}
