/*
======= TYPE ELEMENTS =======
*/

input.type_p[type="text"][readonly] {
    text-align: center;
    border: 0.2em solid white;
    border-radius: 0.25em;
    width: min-content;
    max-width: 80%;
}


input.type_p[type="text"][readonly]:not([disabled]):hover {
    opacity: 0.75;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    input.type_p[type="text"][readonly] {
        font-size: 1.1em;
    }
}

input.type_p[type="text"][readonly]:not(a:last-child) {
    margin-bottom: 0.5em;
}

input.type_p[type="text"][readonly][value="normal"] {
    background-color: #dccca5;
    color: black;
}

input.type_p[type="text"][readonly][value="fire"] {
    background-color: red;
    color: black;
}

input.type_p[type="text"][readonly][value="fighting"] {
    background-color: #c43b00;
    color: white;
}

input.type_p[type="text"][readonly][value="rock"] {
    background-color: #7e2100;
    color: white;
}

input.type_p[type="text"][readonly][value="ground"] {
    background-color: #ce9600;
    color: black;
}

input.type_p[type="text"][readonly][value="grass"] {
    background-color: #00b600;
    color: black;
}

input.type_p[type="text"][readonly][value="bug"] {
    background-color: #a6e30a;
    color: black;
}

input.type_p[type="text"][readonly][value="electric"] {
    background-color: #ffff00;
    color: black;
}

input.type_p[type="text"][readonly][value="water"] {
    background-color: blue;
    color: white;
}

input.type_p[type="text"][readonly][value="flying"] {
    background-color: deepskyblue;
    color: black;
}

input.type_p[type="text"][readonly][value="ice"] {
    background-color: lightskyblue;
    color: black;
}

input.type_p[type="text"][readonly][value="poison"] {
    background-color: #b40197;
    color: white;
}

input.type_p[type="text"][readonly][value="psychic"] {
    background-color: #a80af6;
    color: black;
}

input.type_p[type="text"][readonly][value="ghost"] {
    background-color: #5e00b7;
    color: white;
}

input.type_p[type="text"][readonly][value="dark"] {
    background-color: #333;
    color: white;
}

input.type_p[type="text"][readonly][value="steel"] {
    background-color: darkgray;
    color: black;
}

input.type_p[type="text"][readonly][value="dragon"] {
    background-color: #f51d5f;
    color: black;
}

input.type_p[type="text"][readonly][value="fairy"] {
    background-color: hotpink;
    color: black;
}

/* attack div */

div.pokemon_display_attack[type="normal"] {
    background-color: #dccca5;
    color: black;
}

div.pokemon_display_attack[type="fire"] {
    background-color: red;
    color: black;
}

div.pokemon_display_attack[type="fighting"] {
    background-color: #c43b00;
    color: white;
}

div.pokemon_display_attack[type="rock"] {
    background-color: #7e2100;
    color: white;
}

div.pokemon_display_attack[type="ground"] {
    background-color: #ce9600;
    color: black;
}

div.pokemon_display_attack[type="grass"] {
    background-color: #00b600;
    color: black;
}

div.pokemon_display_attack[type="bug"] {
    background-color: #a6e30a;
    color: black;
}

div.pokemon_display_attack[type="electric"] {
    background-color: #ffff00;
    color: black;
}

div.pokemon_display_attack[type="water"] {
    background-color: blue;
    color: white;
}

div.pokemon_display_attack[type="flying"] {
    background-color: deepskyblue;
    color: black;
}

div.pokemon_display_attack[type="ice"] {
    background-color: lightskyblue;
    color: black;
}

div.pokemon_display_attack[type="poison"] {
    background-color: #b40197;
    color: white;
}

div.pokemon_display_attack[type="psychic"] {
    background-color: #a80af6;
    color: black;
}

div.pokemon_display_attack[type="ghost"] {
    background-color: #5e00b7;
    color: white;
}

div.pokemon_display_attack[type="dark"] {
    background-color: #333;
    color: white;
}

div.pokemon_display_attack[type="steel"] {
    background-color: darkgray;
    color: black;
}

div.pokemon_display_attack[type="dragon"] {
    background-color: #f51d5f;
    color: black;
}

div.pokemon_display_attack[type="fairy"] {
    background-color: hotpink;
    color: black;
}
