<!DOCTYPE html>
<html lang="fr">
  {% block header %}
  <head>
    <meta charset="UTF-8" />
    <title>PokeBase | {% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
    <script src="/static/js/base.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/types.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}"/>
    {% block head %}{% endblock %}
  </head>
  {% endblock %}
  <body>
    {% block pop %}
    <span class="popupBackgroundOverlay">
      <span class="popupHelper"></span>
      <div class="loginPopup" id="baseLoginPopup">
        <div class="popupTop">
          <button class="popupCloseButton">
              <img src="{{ url_for('static', filename='images/icons/cross.png') }}"></button>
        </div>
        <div class="popupTabs">
          <div class="popupTabController">
            <div id="popupLoginTabBtn" class="popupTabBtn" onclick="openTabLogin()">
                <p class="popupTabBtnTxt">Login</p>
            </div>
            <div id="popupSignupTabBtn" class="popupTabBtn" onclick="openTabSignup()">
                <p class="popupTabBtnTxt">Signup</p>
            </div>
          </div>
          <div id="popupLoginTab" class="popupTab">
            <form class="popupForm" method="post" action="/_login">
              <p>Welcome back!</p>
              <p id="popupLoginErr" class="popupErr"></p>
              <label for="popupLoginUsername">Username</label><br>
              <input class="popupFormInput" type="text" name="username"
                     id="popupLoginUsername" placeholder="Username" required>
              <div class="form-col-sep"></div>
              <label for="popupLoginPassword">Password</label><br>
              <input class="popupFormInput" type="password"
                     name="password" id="popupLoginPassword" placeholder="Password" required>
              <div class="form-col-sep"></div>
              <input class="nextPage" type="text" name="next" value="{{ request.args.get('next') }}" readonly>
              <div class="form-col-sep"></div>
              <div class="popupFormButtons">
                <button class="popupFormBtn popupFormBtnValidate" id="popupLoginBtn" type="submit">Login</button>
                <button class="popupFormBtn popupFormBtnCancel" type="reset" onclick="clearPopupForm()">Cancel</button>
              </div>
            </form>
          </div>
          <div id="popupSignupTab" class="popupTab">
            <form class="popupForm" method="post" action="/_signup">
              <p>Welcome!</p>
              <p id="popupSignupErr" class="popupErr"></p>
              <label for="popupSignupUsername">Username</label><br>
              <input class="popupFormInput" type="text" name="username"
                     id="popupSignupUsername" placeholder="Username" required>
              <div class="form-col-sep"></div>
              <label for="popupSignupPassword">Password</label><br>
              <input class="popupFormInput" type="password"
                     name="password" id="popupSignupPassword" placeholder="Password" required>
              <div class="form-col-sep"></div>
              <input class="nextPage" type="text" name="next" value="{{ request.args.get('next') }}" readonly>
              <div class="form-col-sep"></div>
              <div class="popupFormButtons">
                <button class="popupFormBtn popupFormBtnValidate" id="popupSignupBtn" type="submit">Signup</button>
                <button class="popupFormBtn popupFormBtnCancel" type="reset" onclick="clearPopupForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </span>
    {% if current_user.is_authenticated %}
    <span id="profilePopupBgOverlay">
        <span class="popupHelper"></span>
        <div id="baseProfilePopup">
            <div class="popupTop">
              <button class="profileCloseButton">
                  <img src="{{ url_for('static', filename='images/icons/cross.png') }}"></button>
            </div>
            <p class="profileTitle">Profile</p>
            <canvas class="separator" height="0"></canvas>
            <div id="profileData">
                <label for="profileUsername" class="profileLabel">Username:</label>
                <p id="profileUsername" class="profileDataLine">{{ current_user.username }}</p>
                <label for="profileUserId" class="profileLabel">Id:</label>
                <p id="profileUserId" class="profileDataLine">{{ current_user.userId }}</p>
                <canvas class="profileVoid"></canvas>
                <div class="profileButtons">
                    <button class='profileBtn pEditBtn' onclick='setProfilePopupEdit()'>Edit</button>
                    <button class="profileBtn pLogoutBtn" onclick="logout()">Logout</button>
                </div>
            </div>
        </div>
    </span>
    {% endif %}
    {% endblock %}
    {% block nav %}
    {% if current_user.is_authenticated %}
    <nav>
      <ul>
        <li><a class="nav-link" href="/">Home </a></li>
        <li><a class="nav-link" href="/search">Pokemon search </a></li>
        <li><a class="nav-link" href="/teams/">Your teams </a></li>
        <li><a class="nav-link pseudo" onclick="openProfilePopup()">Profile</a></li>
      </ul>
    </nav>
    {% else %}
    <nav>
      <ul>
        <li><a class="nav-link" href="/">Home </a></li>
        <li><a class="nav-link" href="/search">Pokemon search </a></li>
        <li><a class="nav-link account_button login">Login</a></li>
        <li><a class="nav-link account_button signup">Sign up</a></li>
      </ul>
    </nav>
    {% endif %}
    {% endblock %}
    {% block content %}
    <main>
      {% block main %}{% endblock %}
    </main >
    <footer>
      <h4 style="color: white">Made by us :></h4>
    </footer>
    {% endblock %}
  </body>
</html>
