{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}

{% block head %}
  <script src="static/js/home.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/types.css') }}"/>
{% endblock %}

{% block main %}
  {% if not l is none %}
    <p style="display: none" class="autopopup">{{ l }}</p>
  {% endif %}
  {% if not s is none %}
    <p style="display: none;" class="autosignup">{{ s }}</p>
  {% endif %}
  <h1>Pokédex</h1>
  <div>
    <p id="last-dex-id" style="display: none">20</p>
    <table class="center_table" id="home_pokedex_table">
      <tr class="table_haut">
        <th> Icon </th>
        <th> Pokedex No. </th>
        <th> Name </th>
        <th> Size (m) </th>
        <th> Weight (kg)</th>
        <th> Types </th>
      </tr>
      {% for p in pokedex %}
        {% if loop.index == loop.length %}
          <tr id="last_button_row">
            <td colspan="6">
              <button class="view_more" id="pokedex_extend">See more</button>
            </td>
          </tr>
        {% else %}
          <tr class="pokemon_row" onclick="document.location = '/pokemon/{{ p.id }}';">
            <td> <img src="{{ url_for('static', filename='images/pokemon/') }}{{ p.id }}.png" alt="Picture of {{ p.name }}"> </td>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.height}}</td>
            <td>{{ p.weight }}</td>
            <td>
              {% for type in p.types %}
                <a class="link_type" href="/one_type/{{type[0]}}"> <input type="text" class="type_p" value="{{ type[1] }}" readonly></a>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
  <script>autopopup()</script>
{% endblock %}
