{% extends "base.jinja2" %}

{% block title %}Types{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/types.css') }}"/>
  <style>
  .title_type {
      margin: 1rem auto;
      width: 50%;
  }
  .title_type input {
      max-width: 100%;
  }
  </style>
{% endblock %}

{% block main %}
  <h1 class="title_type"><input type="text" class="type_p" value="{{ type_name[0] }}" readonly disabled></h1>
  <div>
    <p id="last-dex-id" style="display: none">20</p>
    <table class="center_table" id="home_pokedex_table">
      <tr class="table_haut">
        <th> Icon </th>
        <th> Pokedex No. </th>
        <th> Name </th>
        <th> Size (m) </th>
        <th> Weight (kg)</th>
        <th> Types </th>
      </tr>
      {% for p in pokedex_type[:-1] %}
          <tr class="pokemon_row" onclick="document.location = '/pokemon/{{ p.id }}';">
            <td><img src="{{ url_for('static', filename='images/pokemon/') }}{{ p.id }}.png"
                     alt="Picture of {{ p.name }}"></td>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.height}}</td>
            <td>{{ p.weight }}</td>
            <td>
              {% for type in p.types %}
                <a class="link_type" href="/one_type/{{type[0]}}">
                    <input type="text" class="type_p" value="{{ type[1] }}" readonly>
                </a>
              {% endfor %}
            </td>
          </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
