{% extends "base.jinja2" %}

{% block title %}Team {{ team.teamName }}{% endblock%}

{% block head %}
  <script src="/static/js/one_team.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/one_team.css') }}">
{% endblock %}

{% set ball_link = url_for('static', filename='images/icons/ball.png') %}
{% set plus_link = url_for('static', filename='images/icons/plus.png') %}

{% block pop %}
    {{ super() }}
    <span id="movesBgOverlay">
      <span class="popupHelper"></span>
      <div id="movesPopupBase">
        <div class="popupTop">
          <button class="movesCloseButton">
              <img src="{{ url_for('static', filename='images/icons/cross.png') }}"></button>
          <p id="movePopupTitle"></p>
        </div>
        <div id="movesPopupHead">
          <div id="actualMove">
            <!--<div class="pokemon_display_attack" id="actual_move_type">
              <div class="pokemon_display_attack_type">
                <a class="link_type" target="_blank" id="actual_move_type_link">
                  <input type="text" class="type_p" id="actual_move_type" readonly>
                </a>
              </div>
              <div class="pokemon_display_attack_name">
                <p class="attack_name" id="actual_move_name"></p>
              </div>
            </div>-->
          </div>
          <canvas class="separator" height="0"></canvas>
          <div id="typesSelector"></div>
          <canvas class="separator" height="0"></canvas>
          <div id="availableMoves"></div>
        </div>
      </div>
    </span>
{% endblock %}

{% block main %}
  <div class="team_display">
    <div class="team_display_text">
      <h2 class="team_display_name" id="team_name">{{ team.teamName }}</h2>
      <p class="team_display_number">Pokemons: {{ team.count_pokemons() }}/6</p>
      <div class="team_display_actions">
        <button class="team_display_edit pic_btn" id="name_edit_btn"
                onclick="editName('{{ team.teamName }}')">
          <img src="{{ url_for('static', filename='images/icons/write.png') }}" class="tem_display_edit_img btn_img">
        </button>
        <button class="team_display_rem pic_btn" onclick="removeTeam({{ team.teamId }},'{{ team.teamName }}')">
          <img src="{{ url_for('static', filename='images/icons/bin.png') }}" class="team_display_rem_img btn_img">
        </button>
      </div>
    </div>
    <div class="team_display_data">
      {% if team.pokemon1 is not none %}
        {% set p1 = team.p1 %}
        {% set p1i = url_for('static', filename="/images/pokemon/")+p1.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 1 %}
      <div class="team_display_poke pokemon_display">
        {% if p1 %}
          <div class="pokemon_display_img">
            <img src="{{ p1i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p1.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p1.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel1"
                 onclick="editPokeName(this, {{ p1.pokeId }})">{{ p1.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel1"
                 onclick="editPokeName(this,{{ p1.pokeId }})">{{ p1.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p1.pokeId }})">Level: {{ p1.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p1.pokeId }},1)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = p1.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(1,1,{{ p1.pokeId }},{{ p1.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(1,1,{{ p1.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p1.get_move2() %}
           {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(1,2,{{ p1.pokeId }},{{ p1.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(1,2,{{ p1.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p1.get_move3() %}
           {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(1,3,{{ p1.pokeId }},{{ p1.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(1,3,{{ p1.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p1.get_move4() %}
           {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(1,4,{{ p1.pokeId }},{{ p1.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(1,4,{{ p1.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
      {% if team.pokemon2 is not none %}
        {% set p2 = team.p2 %}
        {% set p2i = url_for('static', filename="/images/pokemon/")+p2.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 2 %}
      <div class="team_display_poke pokemon_display">
        {% if p2 %}
          <div class="pokemon_display_img">
            <img src="{{ p2i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p2.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p2.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel2"
                 onclick="editPokeName(this, {{ p2.pokeId }})">{{ p2.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel2"
                 onclick="editPokeName(this,{{ p2.pokeId }})">{{ p2.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p2.pokeId }})">Level: {{ team.p2.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p2.pokeId }},2)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = p2.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(2,1,{{ p2.pokeId }},{{ p2.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(2,1,{{ p2.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p2.get_move2() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(2,2,{{ p2.pokeId }},{{ p2.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(2,2,{{ p2.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p2.get_move3() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(2,3,{{ p2.pokeId }},{{ p2.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(2,3,{{ p2.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p2.get_move4() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(2,4,{{ p2.pokeId }},{{ p2.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(2,4,{{ p2.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
      {% if team.pokemon3 is not none %}
        {% set p3 = team.p3 %}
        {% set p3i = url_for('static', filename="/images/pokemon/")+p3.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 3 %}
      <div class="team_display_poke pokemon_display">
        {% if p3 %}
          <div class="pokemon_display_img">
            <img src="{{ p3i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p3.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p3.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel3"
                 onclick="editPokeName(this, {{ p3.pokeId }})">{{ p3.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel3"
                 onclick="editPokeName(this,{{ p3.pokeId }})">{{ p3.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p3.pokeId }})">Level: {{ p3.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p3.pokeId }},3)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = p3.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(3,1,{{ p3.pokeId }},{{ p3.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(3,1,{{ p3.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p3.get_move2() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(3,2,{{ p3.pokeId }},{{ p3.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(3,2,{{ p3.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p3.get_move3() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(3,3,{{ p3.pokeId }},{{ p3.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(3,3,{{ p3.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p3.get_move4() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(3,4,{{ p3.pokeId }},{{ p3.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(3,4,{{ p3.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
      {% if team.pokemon4 is not none %}
        {% set p4 = team.p4 %}
        {% set p4i = url_for('static', filename="/images/pokemon/")+p4.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 4 %}
      <div class="team_display_poke pokemon_display">
        {% if p4 %}
          <div class="pokemon_display_img">
            <img src="{{ p4i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p4.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p4.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel4"
                 onclick="editPokeName(this, {{ p4.pokeId }})">{{ p4.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel4"
                 onclick="editPokeName(this,{{ p4.pokeId }})">{{ p4.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p4.pokeId }})">Level: {{ p4.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p4.pokeId }},4)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = team.p4.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(4,1,{{ p4.pokeId }},{{ p4.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(4,1,{{ p4.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p4.get_move2() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(4,2,{{ p4.pokeId }},{{ p4.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(4,2,{{ p4.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p4.get_move3() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(4,3,{{ p4.pokeId }},{{ p4.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(4,3,{{ p4.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = team.p4.get_move4() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(4,4,{{ p4.pokeId }},{{ p4.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(4,4,{{ p4.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
      {% if team.pokemon5 is not none %}
        {% set p5 = team.p5 %}
        {% set p5i = url_for('static', filename="/images/pokemon/")+p5.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 5 %}
      <div class="team_display_poke pokemon_display">
        {% if p5 %}
          <div class="pokemon_display_img">
            <img src="{{ p5i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p5.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p5.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel5"
                 onclick="editPokeName(this, {{ p5.pokeId }})">{{ p5.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel5"
                 onclick="editPokeName(this,{{ p5.pokeId }})">{{ p5.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p5.pokeId }})">Level: {{ p5.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p5.pokeId }},5)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = p5.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(5,1,{{ p5.pokeId }},{{ p5.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(5,1,{{ p5.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p5.get_move2() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(5,2,{{ p5.pokeId }},{{ p5.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(5,2,{{ p5.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p5.get_move3() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(5,3,{{ p5.pokeId }},{{ p5.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(5,3,{{ p5.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p5.get_move4() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(5,4,{{ p5.pokeId }},{{ p5.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(5,4,{{ p5.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
      {% if team.pokemon6 is not none %}
        {% set p6 = team.p6 %}
        {% set p6i = url_for('static', filename="/images/pokemon/")+p6.pokedexId|string+".png" %}
      {% endif %}
      {% set p = 6 %}
      <div class="team_display_poke pokemon_display">
        {% if p6 %}
          <div class="pokemon_display_img">
            <img src="{{ p6i }}" alt="pokemon picture" onclick="window.open('/pokemon/{{ p6.pokedexId }}')">
          </div>
          <div class="pokemon_display_text">
            {% if p6.pokeName is none %}
              <p class="pokemon_display_species" id="pLabel6"
                 onclick="editPokeName(this,{{ p6.pokeId }})">{{ p6.get_entry_name() }}</p>
            {% else %}
              <p class="pokemon_display_name" id="pLabel6"
                 onclick="editPokeName(this,{{ p6.pokeId }})">{{ p6.pokeName }}</p>
            {% endif %}
            <p class="pokemon_display_level" onclick="editPokeLevel(this, {{ p6.pokeId }})">Level: {{ p6.pokeLevel }}</p>
            <img src="{{ url_for('static', filename='images/icons/cross.png') }}" class="pokemon_rem_cross"
                 onclick="remPokemon({{ p6.pokeId }},6)">
          </div>
          <div class="pokemon_display_attacks">
            {% set move = p6.get_move1() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(6,1,{{ p6.pokeId }},{{ p6.move1 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(6,1,{{ p6.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p6.get_move2() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(6,2,{{ p6.pokeId }},{{ p6.move2 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(6,2,{{ p6.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p6.get_move3() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(6,3,{{ p6.pokeId }},{{ p6.move3 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(6,3,{{ p6.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
            {% set move = p6.get_move4() %}
            {% if move is not none %}
              {% set move_type = move.get_move_id(move.type) %}
              <div class="pokemon_display_attack" type="{{ move.type }}" onclick="openMovesPopup(6,4,{{ p6.pokeId }},{{ p6.move4 }})">
                <div class="pokemon_display_attack_type">
                  <a class="link_type" href="/one_type/{{ move_type }}" target="_blank">
                    <input type="text" class="type_p" value="{{ move.type }}" readonly>
                  </a>
                </div>
                <div class="pokemon_display_attack_name">
                  <p class="attack_name">{{ move.name }}</p>
                </div>
              </div>
            {% else %}
              <div class="pokemon_display_attack_none" onclick="openMovesPopup(6,4,{{ p6.pokeId }},null)">
                <div>
                  <img class="pokemon_display_attack_plus" src="{{ plus_link }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="pokemon_display_ball">
            <div>
              <p class="pokemon_display_ball_index">{{ p }}</p>
              <img class="pokemon_display_ball_img" src="{{ ball_link }}">
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script>id = parseInt({{ team.teamId }});</script>
{% endblock %}
