{% extends "base.jinja2" %}

{% block title %}{{ p.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/moves.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/one_pokemon.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/types.css') }}?v=0"/>
{% endblock %}

{% block main %}
<div>
    <h1>Pokemon: {{p.name}}</h1>
<table>
    <tr class="table_haut">
        <th></th>
        <th> Numero Pokedex </th>
        <th> Nom </th>
        <th> Taille (m) </th>
        <th> Poids (kg)</th>
        <th> Types </th>
    </tr>
    <tr class="pokemon_row">
        <td> <img src="{{ url_for('static', filename='images/pokemon/') }}{{ p.id }}.png"
                  alt="Picture of {{ p.name }}"> </td>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.height}}</td>
        <td>{{ p.weight }}</td>
        <td>
            {% for type in p.types %}
                <a class="link_type" href="/one_type/{{type[0]}}">
                    <input type="text" class="type_p" value="{{ type[1] }}" readonly></a>
            {% endfor %}
        </td>
    </tr>
    </table>

    <h3>Learnable moves</h3>

    <table class="moves_table">
        <tr class="table_haut">
            <th> TYPE </th>
            <th> Name attack</th>
            <th> pp  </th>
            <th> power </th>
            <th> accuracy </th>
        </tr>
        {% for m in moves %}
        {% set move_type = m.get_move_id(m.type) %}
        <tr>
            <td>
                <a class="link_type" href="/one_type/{{ move_type }}">
                    <input type="text" class="type_p" value="{{ m.type }}" readonly></a>
            </td>
            <td>{{ m.name }}</td>
            <td>{{ m.pp}}</td>
            <td>{{ m.power }}</td>
            <td>{{ m.accuracy }}</td>
            
        </tr>
        {% endfor %}
        </table>
</div>
{% endblock %}
