{% extends "base.jinja2" %}

{% block title %}Profile{% endblock %}

{% block head %}
<script src="/static/js/profile.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/one_team.css') }}">
{% endblock %}

{% block main %}
<h1>Profile :</h1>
<div class="team_display_text">
    <h2 class="team_display_name" id="team_name">{{ current_user.username }}</h2>
    <div class="team_display_actions">
      <button class="team_display_edit pic_btn" id="name_edit_btn"
              onclick="editName()">
        <img src="{{ url_for('static', filename='images/icons/write.png') }}" class="tem_display_edit_img btn_img">
      </button>
      <button class="team_display_rem pic_btn" onclick="removeProfile()">
        <img src="{{ url_for('static', filename='images/icons/bin.png') }}" class="team_display_rem_img btn_img">
      </button>
    </div>
  </div>

<form class="form_horizontal" method="post">

    {{ form.hidden_tag() }}
        <div>
            <h2>Modifier mot de passe</h2>
            <div class="col-sm-2 control-label">
                {{ form.newPassword.label }}
            </div>
            <div class="col-sm-10">
                {{ form.newPassword(size=25, class_="form-control", placeholder='Password') }}
            </div>
    
            <div class="col-sm-2 control-label">
                {{ form.confirmNewPassword.label }}
            </div>
            <div class="col-sm-10">
                {{ form.confirmNewPassword(size=25, class_="form-control", placeholder='Password') }}
            </div>
        </div>
    
    
        
        <p>Mot de passe actuel : ( Necessaire pour toute modification )</p>
        <div class="col-sm-2 control-label">
            {{ form.password.label }}
        </div>

        <div class="col-sm-10">
            {{ form.password(size=25, class_="form-control", placeholder='Password') }}
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-default">Actualiser compte</button>
    </div>
</form>



{% if erreur|length > 0 %}
    <p class="err-display">{{ erreur }}</p>
{% endif %}
{% endblock %}
