{% extends "base.jinja2" %}

{% block title %}Search Pokédex{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search_pokemon.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/types.css') }}"/>
{% endblock %}

{% block main %}
  <h1>Search a pokemon</h1>
  <div>
    <form class="form_horizontal">
      <div>
        <label for="query">Pokemon name or ID</label><br>
        <input name="q" id="query" placeholder="research" value="{{ res }}" autofocus required>
        <div class="col-sm-10">
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-default">search</button>
      </div>
    </form>
  </div>
  {% if res|length > 0 %}
    <div class="research_result">
      {% if pokemons|length > 0 %}
        <h2>Results for research "<i>{{ res }}</i>"</h2>
        <table class="center_table">
          <tr class="table_haut">
            <th>Icon</th>
            <th>Pokedex No.</th>
            <th>Name</th>
            <th>Height (m)</th>
            <th>Weight (kg)</th>
            <th>Types</th>
          </tr>
          {% for p in pokemons %}
            <tr class="pokemon_row" onclick="document.location = '/pokemon/{{ p.id }}';">
              <td> <img src="{{ url_for('static', filename='images/pokemon/') }}{{ p.id }}.png" alt="Picture of {{ p.name }}"> </td>
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.height}}</td>
              <td>{{ p.weight }}</td>
              <td>
                {% for type in p.types %}
                  <input type="text" class="type_p" value="{{ type[1] }}" readonly>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <h2>No result found for research "<i>{{ res }}</i>"</h2>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
