{% extends "base.jinja2" %}

{% block title %} | your teams{% endblock %}

{% block head %}
  <script src="/static/js/teams.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/teams.css') }}"/>
{% endblock %}

{% set ball = url_for('static', filename='images/icons/ball.png') %}

{% block main %}
  <div class="teams_list">
    <div class="teams_nav">
      <div class="teams_nav_elem teams_nav_first_elem">
        <p><b>Your teams</b></p>
      </div>
      <div class="teams_nav_elem teams_nav_button">
        <button onclick="addTeam()">add</button>
      </div>
    </div>
    {% for team in teamz %}
      <div class="team_display">
        <div class="team_display_text">
          <p class="team_display_id">{{ team.teamId }}</p>
          <p class="team_display_name">{{ team.teamName }}</p>
          <p class="team_display_number">{{ team.count_pokemons() }}/6 pokemons</p>
        </div>
        {% if team.pokemon1 is not none %}
          {% set p1 = url_for('static', filename="images/pokemon/")+team.p1.pokedexId|string+".png" %}
        {% else %}
          {% set p1 = ball %}
        {% endif %}
        {% if team.pokemon2 is not none %}
          {% set p2 = url_for('static', filename="images/pokemon/")+team.p2.pokedexId|string+".png" %}
        {% else %}
          {% set p2 = ball %}
        {% endif %}
        {% if team.pokemon3 is not none %}
          {% set p3 = url_for('static', filename="images/pokemon/")+team.p3.pokedexId|string+".png" %}
        {% else %}
          {% set p3 = ball %}
        {% endif %}
        {% if team.pokemon4 is not none %}
          {% set p4 = url_for('static', filename="images/pokemon/")+team.p4.pokedexId|string+".png" %}
        {% else %}
          {% set p4 = ball %}
        {% endif %}
        {% if team.pokemon5 is not none %}
          {% set p5 = url_for('static', filename="images/pokemon/")+team.p5.pokedexId|string+".png" %}
        {% else %}
          {% set p5 = ball %}
        {% endif %}
        {% if team.pokemon6 is not none %}
          {% set p6 = url_for('static', filename="images/pokemon/")+team.p6.pokedexId|string+".png" %}
        {% else %}
          {% set p6 = ball %}
        {% endif %}
        <div class="team_display_data">
          <img class="team_display_img" src="{{ p1 }}">
          <img class="team_display_img" src="{{ p2 }}">
          <img class="team_display_img" src="{{ p3 }}">
          <img class="team_display_img" src="{{ p4 }}">
          <img class="team_display_img" src="{{ p5 }}">
          <img class="team_display_img" src="{{ p6 }}">
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
